.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 43, 43);
}
.nav-title{
    color: white;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
.nav-links{
    display: flex;
    list-style: none;
    justify-content:space-around;
}
.nav-links li{
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;

}
.nav-links li a{
    list-style: none;
    color: white;
    text-decoration: none;
}
/* .active{

} */
.btn{
    color: whitesmoke;
    background-color: rgb(65, 65, 231);
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;
    font-family: 'Roboto', sans-serif;
}